#search-results-list {
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, minmax(20%, 1fr));
    align-content: center;
    align-items: stretch;
}

#search-results-list li {
    list-style-type: none;
    border: 2px solid black;
    align-content: center;
}

#search-results-list > li:hover {
    background-color: lightyellow;
    color: darkblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li h2 {
    overflow: auto;
}

img {
    width: 150px;
    height: 250px;
}

form * {
    background-color: lightgrey;
    border: none;
    padding: 10px 20px;
    border-radius: 0.5em;
    box-shadow: 2px 2px black;
    margin-top: 20px;
  }

#query {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#searchForm {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.results {
    transform: rotate(20deg);
    padding-bottom: 20px;
    padding-top: 10px;
}

.info{
    display: inline;
}

.errorMsg {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}