header nav{
    text-align: right;
}

nav li{
    list-style-type: none;
    display: inline;
    padding: 10px;
}

li a:link{
    color: #FFCC00;
    text-decoration: none;
}

li a:visited{
    color: #FFCC00;
}

h1 {
    text-align: center;
    transform: rotate(20deg);
    margin-bottom: 20px;
    border: 2px dashed #FFCC00;
    margin-left: 40%;
    margin-right: 40%;
}

body{
    text-align: center;
    background-color: #1030AD;
    color: #FFCC00;
    font-family: 'Blockletter', sans-serif;
}

footer{
    position: absolute;
    bottom: 1vh;
    margin-left: 45%;
}