.container {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 0;
    border: 2px dashed #FFCC00;
    max-width: 80%;
    margin: auto;    
}

#poster {
    margin-top: 5%;
}
#title {
    text-align: center;
    margin-top: 40px;
}

#details {
    display: flex;
    align-items: center;
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: larger;
    margin-right: 5%;
}

#footnotes {
    display: flex;
    justify-content: center;
}
table td {
    padding: 5px;
}

